body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

[data-rmiz-ghost] {
  display: none;
}

.ProseMirror {
  margin-left: 32px;

}

.editor {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}

.editor>div {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.appBar {
  position: fixed;
  width: 100%;
  height: 32px;
  z-index: 5;
  background-color: black;
  color: white;
  padding: 4px;
}

.appFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateZ(5);

  z-index: 5;
  background-color: black;
  color: white;
  padding: 4px;

}

.cm-wrapper {
  margin-left: -32px
}

.cm-show {
  text-align: right;

  padding: 14px
}

.cm-lang {
  text-align: center
}

.app-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 3444;
  padding: 4px;
  text-align: center;
}

.app-wrap {
  overflow-y: auto;
  height: 100%;
}

.cell {
  display: none;
  cursor: default;
  user-select: none;
  border: 1px solid red;
}

#cellEditor {
  cursor: default;
  user-select: none;
  border: 1px solid blue;
  position: fixed;
  z-index: 200;
  transform: translate(300px, 500px);
}

#tablePane {
  display: none
}

#codePane {
  display: none
}