body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}
.App{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#root{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ProseMirror {
  margin-left: 32px;

}
.editor {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}
.editor > div {
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.appBar {
  position: fixed;
  width: 100%;
  height: 32px;
  z-index: 5;
  background-color: black;
  color: white;
  padding: 4px;
}